body,
html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    scroll-behavior: smooth;
}

#app {
    background: #f5f5f5;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-item {
    position: relative;
    color: azure !important;
}

.nav-item::after {
    content: '';
    width: 0px;
    position: absolute;
    bottom: 0px;
    background-color: dodgerblue;
    height: 2px;
    transition: .5s;
}

.nav-item:hover::after {
    width: 100%;
}

.form-container {
    -webkit-box-shadow: -1px 1.5px 9.5px 9px #aaa;
    -moz-box-shadow: -1px 1.5px 9.5px 9px #aaa;
    box-shadow: -1px 1.5px 9.5px 9px #aaa;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



.tools ul>li:hover {
    background-color: #a9a39f;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.tools {
    top: 15vh;
    left: 0px;
    width: 39px;
    overflow: hidden;
    transition: .5s;
}

.tools i {
    color: black;
    transition: .5s;
}

.tools li span {
    white-space: nowrap;
}

.shown {
    width: 320px;
}

.shown .tools-toggler i {
    transform: rotate(0.5turn);
}

.tools ul li:not(:last-child) {
    border-bottom: 1px solid #aaa;
}




/*
    this section is about the card of product
*/

.product-card{
    width: 250px;
    height: 75vh;
}

.product-card img{
    max-height: 35vh;
}

.product-card p{
    max-height: 20vh;
}

.product-card .image-container::after{
    content: attr(data-price);
    position: absolute;
    background-color: dodgerblue;
    top : 0px;
    left : 0px;
    height: 1.6rem;
    width: 6.5rem;
    z-index: 999;
    letter-spacing: 1.5px;
    line-height: 1.6rem;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}

.user-card{
    width: 350px;
}
.user-card .profile{
    width: calc(350px * 0.5);
    height: calc(350px * 0.5);
}
.user-card .user-name{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.user-card .user-info i{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
}
.user-card .user-info span{
    line-height: 2rem;
}

@media only screen and (min-width : 992px) {
    .product-card {
        width: 300px;
        height: 75vh;
    }
}